.place__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    grid-area: title;
    margin: 0;
}

@media screen and (max-width: 930px) {
  .place__title {
    max-width: 380px;
    font-size: 52px;
    line-height: 1.09; 
  }
}

@media screen and (max-width: 768px) {
    .place__title {
      font-size: 42px;
      line-height: 1.09;
    }
  }
  
  @media screen and (max-width: 666px) {
    .place__title {
      margin: 0 20px 0;
    }
  }

  @media screen and (max-width: 320px) {
    .place__title {
      font-size: 32px;
      max-width: 288px;
      margin: 0 16px 0;
    }
  }