.lead__image{
    margin-top: 64px;
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(1);
}

@media screen and (max-width: 768px) {
    .lead__image {
      margin-top: 36px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
      margin-top: 40px;
    }
}