.intro__author{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.41;
    margin: 0 65px 32px auto;
    max-width: 720px;
    text-align: right;
}

@media screen and (max-width: 768px) {
  .intro__author {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
    .intro__author {
      max-width: 288px;
  }
}