.cover {
  margin: 92px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  background: url(../../images/visitus__background.png) no-repeat center;
  background-size: cover;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .cover {
    min-height: 746px;
  }
}

@media screen and (max-width: 560px) {
  .cover{
    min-height: 254px;
    margin-top: 64px;
  }
}