.place {
    max-width: 984px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "title website"
      "image paragraph"
      "button paragraph";
    grid-gap: 48px 40px;
    margin: 80px 0 0;
}

.place:first-of-type{
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 46px 28px;
    max-width: 720px;
    margin: 72px 0 0;
  }
}

@media screen and (max-width: 666px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "paragraph"
      "button";
    grid-gap: 30px 0;
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-gap: 0 0;
  }
}