.place {
    max-width: 984px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 460px minmax(484px, 456px);
    grid-template-rows: min-content 460px min-content;
    grid-template-areas:
      "title website"
      "image paragraph"
      "button paragraph";
    grid-gap: 48px 40px;
    margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px minmax(316px, 352px);
    grid-template-rows: min-content 340px min-content;
    grid-gap: 46px 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: minmax(288px, 320px);
    grid-template-rows: min-content min-content 320px min-content min-content min-content;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph"
      "paragraph"
      "button";
    grid-gap: 30px 0;
  }
}