.footer{
    display: flex;
    justify-content: center;
    margin-top: 92px;
}

@media screen and (max-width:768px) {
    .footer{
        margin-top: 88px;
    }
}

@media screen and (max-width:320px) {
    .footer{
        margin-top: 64px;
    }
}